/* || General setup */

html, body {
    margin: 0;
    padding: 0;
    

  }
  
  html {
    font-size: 10px;
   background-image: url('../Image/flocon.jpg');
    background-size: cover;
}
  
  body {
    width: 70%;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Sonsie One', cursive;
    color: #2a2a2a;
  }
  
  p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
    aside, footer {
    background-color: rgb(184, 248, 250);
    padding: 1%;
    /*arrondit*/
    border-radius:8px 8px 8px 8px;
  }
  article , footer{
      background-color:  rgb(255, 255, 255);
      padding: 1%;
      border-radius:8px 8px 8px 8px;
  }
  
  nav{

    background-color: rgb(27, 233, 248);
    background-image:-webkit-linear-gradient(top,  rgb(7, 234, 250) 20%,  rgb(173, 245, 250) 80%);
    background-image:linear-gradient(to bottom,  rgb(7, 234, 250) 20%,  rgb(173, 245, 250) 80%);

    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;

    border-radius:8px 8px 8px 8px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: gold;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px  rgb(0, 245, 245);
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
  


  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }
  
  /* || main layout */
  
  main {
    display: flex;
    
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
  }
  
  aside li {
    padding-bottom: 10px;
  }
  
  footer {
    margin-top: 10px;
  }

  footer > p{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes slidein {
    from {
      margin-left: 85%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }